title: ModyoDX™ Tutorial Series: Site Creation
headline: Introduction 
author: Wesley Campbell
date: 04-08-2016

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

We want to show you how to make your next website using ModyoDX™ and all its various tools and resources. This series of tutorials will walk you through the numerous features available through our platform to add rich functionality to any web project you undertake. 

These tutorials are hands-on, and guide you through our use of the platform with our own sample site, with loads of code samples and screenshots. The information they provide is immediately applicable to your work on the ModyoDX™ platform. 

[Let’s get started](tutorial-post-1.html).

{% endfilter %}
{% endblock body %}